<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <nav class="footer__navigation">
        <ul class="footer__navigation-inner">
          <li class="footer__navigation-item"><a href="#header" class="footer__navigation-link">главная</a></li>
          <li class="footer__navigation-item"><a href="#restaurant" class="footer__navigation-link">ресторан</a></li>
          <li class="footer__navigation-item"><a href="#menu" class="footer__navigation-link">меню</a></li>
          <li class="footer__navigation-item"><a href="#reserve" class="footer__navigation-link">заказ</a></li>
          <li class="footer__navigation-item"><a href="#events" class="footer__navigation-link">события</a></li>
          <li class="footer__navigation-item"><a href="#map" class="footer__navigation-link">контакты</a></li>
        </ul>
      </nav>
      <div class="footer__social">
        <div class="footer__logo-social">
          <a href="#" class="footer__logo-social_link icon-facebook-with-circle"></a>
          <a href="#" class="footer__logo-social_link icon-twitter-with-circle"></a>
          <a href="#" class="footer__logo-social_link icon-instagram-with-circle"></a>
        </div>
      </div>
    </div>
</footer>