<header class="header" id="header">
  <div class="container__fluid">
    <div class="header__banner">
      <div class="contaner">
        <div class="header__inner-wrapper">
        <nav class="header__navigation">
          <ul class="header__navigation-inner">
            <li class="header__navigation-item"><a href="#header" class="header__navigation-link">главная</a></li>
            <li class="header__navigation-item"><a href="#restaurant" class="header__navigation-link">ресторан</a></li>
            <li class="header__navigation-item"><a href="#menu" class="header__navigation-link">меню</a></li>
            <li class="header__navigation-item"><a href="#reserve"  class="header__navigation-link">заказ</a></li>
            <li class="header__navigation-item"><a href="#events" class="header__navigation-link">события</a></li>
            <li class="header__navigation-item"><a href="#map"class="header__navigation-link">контакты</a></li>
          </ul>
        </nav>

        <div class="header__logo-box">
          <a class="header__logo-name" href="#">Bartolomeo</a>
          <h1 class="header__logo-slogan">европейская кухня</h1>
          <div class="header__logo-social">
            <a href="#" class="header__logo-social_link icon-facebook-with-circle"></a>
            <a href="#" class="header__logo-social_link icon-twitter-with-circle"></a>
            <a href="#" class="header__logo-social_link icon-instagram-with-circle"></a>
          </div>
        </div>
        <a href="#" class="header__banner-arrow"><img class="header__banner-arrow_img"src="images/header/arrow-down.png" alt=""></a>
      </div>
    </div>
      <div class="header__swiper-container swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-1.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-3.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-1.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-3.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-1.jpg);"></div>
        </div>
       <div class="header__swiper-pagination swiper-pagination"></div>
      </div>
    </div>
  </div>

  </div>
</header>