<header class="header" id="header">
  <div class="container__fluid">
    <div class="header__banner">
      <div class="contaner">
        <div class="header__inner-wrapper">
          <div class="menu__btn">
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
            <div class="menu__btn-line"></div>
          </div>
        <nav class="header__navigation">
                 <ul class="header__navigation-inner">
            <li class="header__navigation-item"><a href="#header" class="header__navigation-link"><span>главная</span></a></li>
            <li class="header__navigation-item"><a href="#restaurant" class="header__navigation-link"><span>ресторан</span> </a></li>
            <li class="header__navigation-item"><a href="#menu" class="header__navigation-link"><span>меню</span></a></li>
            <li class="header__navigation-item"><a href="#reserve"  class="header__navigation-link"><span>заказ</span></a></li>
            <li class="header__navigation-item"><a href="#events" class="header__navigation-link"><span>события</span></a></li>
            <li class="header__navigation-item"><a href="#map"class="header__navigation-link"><span>контакты</span></a></li>
          </ul>
        </nav>
        <div class="header__logo-box">
          <a class="header__logo-name" href="#">Bartolomeo</a>
          <h1 class="header__logo-slogan">европейская кухня</h1>
          <div class="header__logo-social">
            <a href="#" class="header__logo-social-link icon-facebook-with-circle">фейсбук</a>
            <a href="#" class="header__logo-social-link icon-twitter-with-circle">твиттер</a>
            <a href="#" class="header__logo-social-link icon-instagram-with-circle">инстаграмм</a>
          </div>
        </div>
        <a href="#restaurant" class="header__banner-arrow">
          <div class="header__banner-arrow-wrap"><img class="header__banner-arrow-img"src="images/header/arrow-down.png" alt=""></div></a>
      </div>
    </div>
      <div class="header__swiper-container swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-1.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-2.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-3.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-4.jpg);"></div>
          <div class="swiper-slide" style="background-image: url(../images/header/swiper-image-3.jpg);"></div>
        </div>
       <div class="header__swiper-pagination swiper-pagination"></div>
      </div>
    </div>
  </div>

  </div>
</header>