@media (max-width: 1200px) {
  .header__logo-name {
    font-size: 10rem;
  }
  .header__banner-arrow {
    width: 73px;
    height: 73px;
  }
  .header__banner-arrow-img {
    width: 10px;
    height: 18px;
  }
  .header__banner-arrow {
    border: 2px solid #fff;
  }
  .reserve__bgr {
    padding-top: 40px;
  }
  .reserve__form-input-wrap {
    justify-content: center;
  }
  // .reserve__form-name {
  //   width: 70%;
  // }
  // .reserve__form-data,
  // .reserve__form-time {
  //   width: 100%;
  // }
  // .icon-calendar,
  // .icon-clock {
  //   width: 70%;
  // }
}
@media (max-width: 1130px) {
  .reserve__form-input-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reserve__form-name,
  .icon-calendar,
  .icon-clock {
    margin-top: 10px;
  }
  .icon-calendar {
    margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  button.menu__category-button + button.menu__category-button {
    margin-left: 10px;
  }
  .menu__item-food,
  .menu__item-salad,
  .menu__item-coctail,
  .menu__item-wine {
    width: calc(50% - 30px);
  }
  .menu__item-name {
    height: 44px;
  }
  .menu__item-content {
    height: 32px;
  }
  .reserve__tel {
    margin: 35px 0;
  }
}

@media (max-width: 900px) {
  .header__inner-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .menu__btn {
    display: inline-block;
    margin-left: 35px;
    position: absolute;
    z-index: 25;
    top: 25px;
  }

  .menu__btn-line {
    height: 1px;
    width: 45px;
    background-color: #fff;
    &.inert-menu {
      background-color: $gray;
    }
    &:nth-child(even) {
      margin: 6px 0;
      height: 3px;
    }
  }

  .header__navigation-inner {
    background-color: rgba(#fff, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: none;
  }
  .header__navigation-item {
    display: block;
    &:first-child {
      margin-top: 25px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:last-child {
      margin-bottom: 25px;
    }
  }
  .header__navigation-link {
    color: $gray;
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0 0 5px 0;
    line-height: 48px;
    &:focus,
    &:hover,
    &:active {
      border: none;
      border-radius: 0;
      span {
        display: block;
        max-width: 50%;
        margin: 0 auto;
        border-bottom: $gray 1px solid;
      }
    }
  }
  .menu {
    padding: 30px 0 30px;
  }
  .events {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .events__item-box {
    padding-top: 25px;
  }
  .events__item {
    flex-basis: 33.333%;
  }
  .events__item-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 22px;
  }
}
@media (max-width: 800px) {
  .header__logo-social-link::before {
    font-size: 1.5rem;
  }
  .header__logo-slogan {
    font-size: 10px;
    margin-bottom: 45px;
  }
  .header__banner-arrow {
    width: 63px;
    height: 63px;
  }
  .restaurant {
    display: none;
  }
  .menu__category-buttons button.menu__category-button {
    width: 81px;
    height: 71px;
  }
  .menu-food {
    svg {
      width: 33px;
      height: 43px;
    }
  }
  .menu-salad,
  .menu-coctail {
    svg {
      width: 33px;
      height: 43px;
    }
  }
  .menu-wine {
    svg {
      width: 43px;
      height: 53px;
    }
  }
  .menu__category-buttons {
    margin: 35px 0 0 0;
    .menu__category-button {
      border: 1px solid #000;
    }
  }
  .menu__item-food,
  .menu__item-salad,
  .menu__item-coctail,
  .menu__item-wine {
    width: 100%;
  }
  .menu__item-box {
    max-width: 100%;
    justify-content: center;
  }
  .menu__item-name {
    max-height: 44px;
    height: 100%;
  }
  .menu__item-content {
    line-height: 14px;
    font-size: 12px;
    max-height: 42px;
    height: 100%;
  }
  // .icon-calendar{

  //   margin-top:10px;
  // margin-left: 10px;
  // }
}
@media (max-width: 776px) {
  .icon-calendar {
    margin-left: 0px;
  }
  .reserve__tel-number {
    font-size: 20px;
  }
  a.reserve__tel-call {
    width: 101px;
    height: 84px;
  }
}
@media (max-width: 700px) {
  .swiper-pagination-bullet,
  .header__swiper-pagination {
    display: none;
  }
  .title__box-color .title-name,
  .title__box-simple .title-name {
    font-size: 70px;
  }
  .title__box-color .title-text,
  .title__box-simple .title-text {
    font-size: 12px;
  }
  .menu,
  .reserve,
  .events {
    .container {
      padding: 0px;
    }
  }
  .menu__category-items {
    justify-content: center;
  }
  .events__inner {
    margin-top: 55px;
    display: block;
  }
  .events__item-box {
    height: auto;
    max-height: 270px;
  }

  .events__item-box {
    padding-bottom: 45px;
  }
  .events__item:nth-child(2) .events__item-box {
    order: 1;
  }
  .events__item:nth-child(2) .events__item-cover {
    order: 0;
  }
}

@media (max-width: 600px) {
  .header__logo-name {
    font-size: 7rem;
  }
  .header__logo-slogan {
    padding-right: 70px;
    padding-left: 70px;
    &::before,
    &::after {
      width: 50px;
    }
  }
  .header__banner-arrow {
    border: 1px solid #fff;
  }
  .menu__category-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  // .menu__category-buttons:nth-child(3){
  //   margin-left: 110px;
  // }
}
@media (max-width: 550px) {
  .menu__category-buttons {
    max-height: 200px;
    flex-direction: column;
    align-items: center;
  }
  button.menu__category-button + button.menu__category-button {
    margin-left: 0px;
  }
  button.menu__category-button {
    margin-bottom: 10px;
  }
  a.reserve__tel-call {
    margin: 0 30px;
  }
}

@media (max-width: 500px) {
  .header__navigation-link {
    &:focus,
    &:hover,
    &:active {
      span {
        max-width: 30%;
      }
    }
  }
  .header__logo-name {
    font-size: 6rem;
  }
  .header__logo-slogan {
    font-size: 8px;
  }
  .header__banner-arrow {
    width: 53px;
    height: 53px;
  }
  .header__banner-arrow-img {
    width: 8px;
    height: 14px;
  }

  img.menu__item-img {
    width: 139px;
    height: 125px;
    margin-right: 15px;
  }
  .menu__item-name {
    margin-top: 0;
    font-size: 16px;
  }
  .menu__item-content {
    margin-bottom: 10px;
  }
  .reserve__title-name.title-name {
    font-size: 60px;
  }
  .title__box-simple.title-text {
    line-height: 18px;
  }
  .reserve__tel-number-second {
    display: none;
  }
  .reserve__tel {
    justify-content: space-around;
  }
  a.reserve__tel-call {
    width: 84px;
    height: 84px;
    margin-right: 0;
  }
  .icon-phone::before {
    font-size: 32px;
  }
  .events__item-title {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .header__logo-name {
    font-size: 5rem;
  }
  .menu__item-name {
    font-size: 14px;
  }
  .menu__item-content {
    font-size: 12px;
  }
  .menu__item-price {
    font-size: 18px;
  }
}

@media (min-width: 550px) {
  .header__navigation-inner {
    display: block;
  }
}
// @media (min-width: 340px) {
//   .reserve__tel {
//     justify-content: space-around;
//   }
// }
